.Support {
    width: 40%;
    margin: auto;
}

.Support-list-group {
    margin-top: 20%;
    margin-bottom: 5%;
}

.Support-list-group-item {
    margin-bottom: 2%;
}

.Support-textarea {
    margin-top: 5%;
    margin-bottom: 5%;
}